{% extends 'base.html.twig' %}

{% block title %}
create a new serie |{{ parent() }}
{% endblock %}

{% block body %}
    <div>
        {# todo: afficher le formulaire de création #}
    </div>

{% endblock %}

