{% extends 'base.html.twig' %}

{% block body %}

    <section>
         {#todo:afficher les series  #}
    </section>

{% endblock %}

{% block title %}
    Les meilleures series | {{ parent() }}


{% endblock %}

